%html
  %head
    %title Simple CSS Parallax | Chinmay Pandhare
    %link{:rel=>'stylesheet', :href=>'sass/style.css'}
    %meta{:name=>'author', :content=>'Chinmay Pandhare'}
    %meta{:name=>'description', :content=>'3D CSS Buttons'}
    %meta{:name=>'keywords', :content=>'CSS Button, Buttons'}

  %body
    %header
      .name CSS Parallax
      .github
        %a{:href=>'https://github.com/ccpandhare/parallax',
        :rel=>'GitHub link',
        :target=>'_blank'} View on GitHub
      .author Chinmay Pandhare
    %section#main
      .parallax
        .parallaxLayer.layerBack Background Layer
        .parallaxLayer.layerBase Base Layer

    %footer
      .copy &copy;2017 Chinmay Pandhare
