%html
  %head
    %title CSS Parallax | Chinmay Pandhare

    %link{:rel=>'stylesheet', :href=>'sass/style.css'}

    %meta{:name=>'author', :content=>'Chinmay Pandhare'}
    %meta{:name=>'description', :content=>'3D CSS Buttons'}
    %meta{:name=>'keywords', :content=>'CSS Parallax, Parallax'}

    :sass
      *
        padding: 0
        margin: 0

      body
        font-family: monospace
        font-size: 20px
        display: flex
        align-items: center
        justify-content: center

      section
        display: inline-block
        text-align: center
        border: 1px dashed #333
        padding: 40px 30px

      a, a:visited, a:focus, a:hover
        text-decoration: none
        color: blue

      a:hover
        cursor: pointer

      label
        display: inline-block
        width: 100%
        text-align: right

  %body
    %section
      CSS Parallax &mdash; Index
      %br
      1)
      %strong
        %a{:href=>'simple/index.html'}
          Simple Parallax
          %br
          %br
      %label &nbsp;&mdash; Chinmay Pandhare
